---
import Button from '../Button.astro';
---

<section class="bg-accent-dark dark:bg-background-dark py-20 md:py-32">
	<div class="container mx-auto px-4 text-center">
		<h2
			class="text-3xl font-semibold leading-tight tracking-tight md:text-4xl font-display text-text-dark"
		>
			Evoluciona, automatiza, Wiñay
		</h2>
		<p class="mt-4 max-w-2xl mx-auto text-text-dark/80">
			¿Listo para llevar tu negocio al siguiente nivel? Hablemos de cómo podemos ayudarte a crecer.
		</p>
		<div class="mt-8 flex justify-center">
			<Button href="/contact" size="lg">Solicita una consulta</Button>
		</div>
	</div>
</section>